<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>JOY</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/wrapper.css" />
    <link rel="stylesheet" type="text/css" href="../css/community.css" />
    <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
	<script>
		console.log(<%- JSON.stringify(postData)%>);
		const post = <%-JSON.stringify(postData)%>;
		console.log(post);
	</script>
   <script type="text/javascript" src="../js/community_main.js"></script>
  </head>
  <body>
      <div class="header">
        <div class="wrapper">
        <a href="/community"><img class="logo" alt=" " src="../img/티끌모아태산.png"/></a>

    		<div class="com_nav">
          <ul class="com_main_menu">
            <li>
              <span><a href="/community" style="color:rgb(255, 2, 129);">금융지식팁</a></span>
            </li>
            <li>
              <span><a href="/community/joy-free">자유게시판</a></span>
            </li>
            <li>
              <span><a href="/community/joy-fighting">다짐톡</a></span>
            </li>
            <li>
              <span><a href="/community/joy-hello">소개톡</a></span>
            </li>
            <li>
              <span><a href="/">홈페이지로 이동→</a></span>
            </li>
          </ul>
          </div>
        </div>
      </div>

      <div class="container wrapper">
		<div class="community_header">
			<h2>금융지식팁</h2>
		</div>
		<a class="post_wrt_link" href='/community/post-write'>글 쓰기▶</a>
      </div>

      <div class="footer">
        <img class="btm_logo" alt="footer image" src="../img/티끌모아태산.png"/>
      </div>


  </body>
</html>
