<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JOY</title>
    <link rel = "stylesheet" type="text/css" href="../css/index.css"/>
    <link rel = "stylesheet" type="text/css" href="../css/wrapper.css"/>
    <link rel = "stylesheet" type="text/css" href="../css/kids.css"/>
    <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
  </head>
  <body>

    <div class="header">
      <div class="wrapper">
        <a href="/">
          <img class="logo" src="../img/티끌모아태산.png" alt="이미지">
        </a>

        <div class="nav">
          <div class="top_menu">
            <ul>
              <li class="main_menu mmu1">
                <span>내역 입력</span>
                <ul class="sub_menu">
                  <li><a href="/income">수입 내역 입력</a></li>
                  <li><a href="/expense">지출 내역 입력</a></li>
                </ul>
              </li>

              <li class="main_menu mmu2">
                <span>통계 조회</span>
                <ul class="sub_menu">
                  <li><a href="/statistic/web">일별 통계</a></li>
                  <li><a href="/statistic/monthly">월별 통계</a></li>
                </ul>
              </li>
              <li class="main_menu mmu3">
                <a href="/quest"><span>퀘스트</span></a>
              </li>
              <li class="main_menu mmu4">
                <span>캐릭터</span>
                <ul class="sub_menu">
                  <li><a href="/character">캐릭터</a></li>
                  <li><a href="/item">아이템</a></li>
                </ul>
              </li>
              <li class="main_menu mmu5">
                <a href="/community"><span>커뮤니티</span></a>
              </li>

              <li class="main_menu mmu5">
                <a href="/kids"><span><img src="/img/kids.png" style="margin-top:30px; height:50px;"alt=""></span></a>
              </li>


            </ul>
          </div>
        </div> <!-- nav -->


      </div>
    </div>

    <div class="container wrapper" style="height:400px;">
      <section class="demo">
          <dl class="list nigiri">
              <dt>돈 관리는 이렇게!</dt>
              <dd><a href="http://www.fss.or.kr/edu/EduContents/ebook2014/01/01/01.html">소중하고 편리한 돈</a></dd>
              <dd><a href="http://www.fss.or.kr/edu/EduContents/ebook2014/02/01/01.html">현명한 선택</a></dd>
              <dd><a href="http://www.fss.or.kr/edu/EduContents/ebook2014/03/01/01.html">계획적인 소비 생활</a></dd>
              <dd><a href="http://www.fss.or.kr/edu/EduContents/ebook2014/04/01/01.html">금융회사가 하는 일</a></dd>
          </dl>

          <dl class="list maki">
              <dt>현명하게 돈 쓰기</dt>
              <dd><a href="http://www.fss.or.kr/edu/EduContents/ebook2014/05/01/01.html">소득을 얻는 여러 방법</a></dd>
              <dd><a href="http://www.fss.or.kr/edu/EduContents/ebook2014/06/01/01.html">용돈 관리는 용돈 기입장으로</a></dd>
              <dd><a href="http://www.fss.or.kr/edu/EduContents/ebook2014/07/01/01.html">정보도 돈이다!</a></dd>
              <dd><a href="http://www.fss.or.kr/edu/EduContents/ebook2014/08/01/01.html">물건 값을 치르는 방법</a></dd>

          </dl>

          <dl class="list sashimi">
              <dt>현명하게 돈 모으기</dt>
              <dd><a href="http://www.fss.or.kr/edu/EduContents/ebook2014/09/01/01.html">저축을 하는 이유</a></dd>
              <dd><a href="http://www.fss.or.kr/edu/EduContents/ebook2014/10/01/01.html">나의 예금 통장 만들기</a></dd>
              <dd><a href="http://www.fss.or.kr/edu/EduContents/ebook2014/11/01/01.html">돈의 가치도 변해요!</a></dd>
              <dd><a href="http://www.fss.or.kr/edu/EduContents/ebook2014/12/01/01.html">돈을 불리는 방법</a></dd>

          </dl>

          <dl class="list juha">
              <dt>신용 관리는 이렇게!</dt>
              <dd><a href="http://www.fss.or.kr/edu/EduContents/ebook2014/13/01/01.html">편리한 신용 거래</a></dd>
              <dd><a href="http://www.fss.or.kr/edu/EduContents/ebook2014/14/01/01.html">안전한 금융 생활</a></dd>
              <dd><a href="http://www.fss.or.kr/edu/EduContents/ebook2014/15/01/01.html">신용을 관리하는 방법</a></dd>
          </dl>

          <dl class="list ham">
              <dt>미래의 위험에 대비하기</dt>
              <dd><a href="http://www.fss.or.kr/edu/EduContents/ebook2014/16/01/01.html">나에게도 이런 위험이</a></dd>
              <dd><a href="http://www.fss.or.kr/edu/EduContents/ebook2014/17/01/01.html">위험에 대비하는 방법</a></dd>
          </dl>

      </section>
    </div>



    <!--footer-->
    <div class="footer">
      <img class="btm_logo" alt=" " src="img/티끌모아태산.png"/>
    </div>
  </body>
</html>
