<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>JOY</title>
    <!-- <link rel="stylesheet" type="text/css" href="./css/index.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="./css/wrapper.css" /> -->
    <link rel="stylesheet" type="text/css" href="../css/logIn.css" />
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/logIn.js"></script>
  </head>
  <body>
    <div class="overlay">
    <!-- LOGN IN FORM by Omar Dsoky -->
      <form action="/auth/facebook" method="get">
          <div class="logIn_img">
            <img src="../img/티끌모아태산.png" alt="이미지" />
          </div>
       <!--   con = Container  for items in the form-->
         <div class="con">
         <!--     Start  header Content  -->
         <header class="head-form">
            <h2>LOG IN</h2>
            <!--     A welcome message or an explanation of the login form -->
            <p>로그인을 먼저 해주세요</p>
         </header>
         <!--     End  header Content  -->
         <br>

            <button class="log-in">facebook으로 로그인 </button>
            <br />
            <a href="/auth/facebook">회원이 아니신가요?</a>
         </div>


        </div>
      </form>
    </div>
  </body>
</html>
