*{margin :0;
  padding :0;
}

#cuadricula {
  width:1000px;
  margin:0 auto;
  line-height:2em;
  background-color: white;

  display: grid;
  grid-template-columns:repeat(5,200px);
  grid-template-rows:repeat(3,200px);

  /* justify-items: start | end | center | stretch;*/
  justify-items:  center;
  /*align-items: start | end | center | stretch;*/
  align-items: center;
  background:0 0/100px 100px;
}

#cuadricula .item img {width:128px;}

#div_item_list{
  width:1000px;
  margin:0 auto;
  line-height:2em;
  background-color: white;
  background:0 0/100px 100px;
}

#div_item_list ul {
   list-style: none;
   height:100%;

 }

#div_item_list .item_list li {
   width: 80%;
   border-bottom: 1px dotted #CCC;
   padding-bottom: 10px;
   margin: 0 auto;
 }

.item {
  padding: .5em 1.5em;
  display:grid;
}

.item p {
  justify-self: center;
  align-self: center;
  color:black;
}

#submit_btn{
    width: 100px;
    height: 40px;
    border: 1px solid rgb(255, 2, 129);
    background-color: rgb(255, 2, 129);
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}


/*unimportant stuff*/

body {
  font-family: Verdana, Geneva, sans-serif;
  line-height: .5em;
  color:#777;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#radios strong{display:inline-block; width:130px;font-weight:normal;}

h2 {
  text-align: center;
  padding: 50px 0 0;
  font-size: 30px;
  color: rgb(255, 2, 129);
  /*border-bottom: 2px solid rgb(255, 2, 129);*/
}

select{
  margin-left: 300px;
  float:right;
}

